html {
    height: 97%;
    position: relative;
}

body {
    background-color: rgb(227, 227, 227);
    height: 97%;
}

.headerContainer h1 {
    text-align: center;
    color: rgb(107, 107, 107);
}

.spliterPanel {
    border-radius: 0 0 10px 10px;
    background-color: rgb(246, 246, 246);
    height: 87%;
}

.mainContainer {
    padding-left: 12px;
    padding-top: 1px;
    color: rgb(128, 128, 128);
    width: 78.5% !important;
}

.itemContent {
    margin-left: 30px;
    margin-right: 15px;
}

.arrayItems {
    font-style: italic;
    font-size: medium;
}

.propertyItem {
    color: rgb(0, 148, 255);
}

.listItem {
    width: 250px;
    margin-bottom: 10px;
    background-color: rgb(0, 148, 255);
    display: block;
    border-radius: 5px;
    height: 20px;
}

    .listItem a {
        color: rgb(255, 255, 255);
        margin-left: 20px;
    }

.menuElement {
}

    .menuElement a {
        color: rgb(0, 148, 255);
        font-size: 102%;
    }


.k-state-focused {
    box-shadow: none;
}

.k-state-hover, k-state-hover:hover {
    background-color: rgb(0, 148, 255) !important;
    color: rgb(255, 255, 255) !important;
}

.k-state-selected {
    color: rgb(0, 148, 255) !important;
    background-color: inherit !important;
    box-shadow: inset 0 0 1px 2px rgb(0, 148, 255) !important;
}

.contentHeader {
    color: rgb(107, 107, 107);
}

.additionalInformation {
    min-height: 1px;
    display: block;
    margin-top: -15px;
}

.externalLink {
    color: rgb(0, 44, 255);
}

.messageWindow {
    color: red;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.k-window-title {
    color: rgb(0, 148, 255);
}

.mainMenuElement {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

    .mainMenuElement a {
        color: rgb(107, 107, 107) !important;
    }

        .mainMenuElement a:hover {
            color: rgb(255, 255, 255) !important;
        }

    .mainMenuElement .selected {
        background-image: linear-gradient(rgb(0, 148, 255),rgb(0, 118, 203));
    }

        .mainMenuElement .selected a {
            color: rgb(255, 255, 255) !important;
        }

.loaderContainer {
    position: absolute;
    height: 97%;
    width: 97%;
    font-family: Helvetica;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loaderDot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: transparent;
    position: absolute;
}

    .loaderDot:first-child {
        background-color: #8cc759;
        animation-delay: 0.5s;
    }

    .loaderDot:nth-child(2) {
        background-color: #8c6daf;
        animation-delay: 0.4s;
    }

    .loaderDot:nth-child(3) {
        background-color: #ef5d74;
        animation-delay: 0.3s;
    }

    .loaderDot:nth-child(4) {
        background-color: #f9a74b;
        animation-delay: 0.2s;
    }

    .loaderDot:nth-child(5) {
        background-color: #60beeb;
        animation-delay: 0.1s;
    }

    .loaderDot:nth-child(6) {
        background-color: #fbef5a;
        animation-delay: 0s;
    }

.loaderText {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    font-size: small;
    font-weight: 700;
    color: rgb(128, 128, 128);
    margin: auto;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}
